body {
background-color: lightblue;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

#main-container {
    background-color: white;
    color: black;
    width: 425px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nameDiv {
    padding: 10px 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 95%;
    margin-left: 5px;
}

.nameDiv:hover{
    background-color: lightgray;
    margin-left: 5px;
}
